<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="Covidometer" />
  <meta property="og:description" content="You will get covid-19 live data worldwide" />
  <meta property="og:image" content="https://image.freepik.com/free-vector/virus-magnifier-scientific-vector-icon-disease-laboratory-research-study-analysis-concept-icon_261737-399.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="static/styles.css">
  <script src="https://kit.fontawesome.com/aea2e7a38a.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="static/virus.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Covidometer</title>
</head>
<body>
  <div id="loading">
    <div id="loading-logo">
      <i class="fas fa-virus fa-3x"></i>
    </div>
  </div>
  <nav class="navbar">
    <div class="container">
      <h1>Covidometer</h1>
    </div>
  </nav>
  <section class="container">
    <div class="all-cards">
      <div class="stats">
        <h2>World Data <i class="fas fa-globe"></i></h2>
        <div class="deck">
          <div class="card total-cases">
            <h3>Total Cases</i></h3>
            <h4>{{ world_data['cases'] }}</h4>
          </div>
          <div class="card active-cases">
            <h3>Active Cases</h3>
            <h4>{{ world_data['active'] }}</h4>
          </div>
          <div class="card recovered">
            <h3>Recovered</h3>
            <h4>{{ world_data['recovered'] }}</h4>
          </div>
          <div class="card deaths">
            <h3>Deaths</h3>
            <h4>{{ world_data['deaths'] }}</h4>
          </div>
        </div>
      </div>
      <div class="countries">
        <div class="user-country">
          <h2>Your Location <i class="fas fa-map-marker-alt"></i></h2>
          <div class="card">
            <h3>{{ user_country_data['country'] }}</h3>
            <img class="flag" src="{{ user_country_data['flag_url'] }}" alt="Flag">
            <p><span class="title">Total: </span>{{ user_country_data['cases'] }}</p>
            <p><span class="title">Active: </span>{{ user_country_data['active'] }}</p>
            <p><span class="title">Recovered: </span>{{ user_country_data['recovered'] }}</p>
            <p><span class="title">Deaths: </span>{{ user_country_data['deaths'] }}</p>
          </div>
        </div>
        <div class="countries-table">
          <h2>All countries <i class="fas fa-globe-americas"></i></h2>
          <div class="card">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Country</th>
                  <th>Total</th>
                  <th>Active</th>
                  <th>Recovered</th>
                  <th>Deaths</th>
                </tr>
              </thead>
              {% for i in range(countries_data | count) %}
                {% set country = countries_data[i] %}
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td><img src="https://flagcdn.com/24x18/{{ country['countryInfo']['iso2'] | lower }}.png" alt="flag">{{ country['country'] }}</td>
                  <td>{{ "{:,}".format(country['cases']) }}</td>
                  <td>{{ "{:,}".format(country['active']) }}</td>
                  <td class="recovered-cell">{{ "{:,}".format(country['recovered']) }}</td>
                  <td class="deaths-cell">{{ "{:,}".format(country['deaths']) }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    $(window).on('load', function() {
      $('#loading').fadeOut("slow");
    });
  </script>
</body>
</html>